.input_component {
    display: flex;
    flex-direction: column;
    width: calc(100% - 128px);
    height: 100px;
    margin-top: 20px;
    margin-left: 128px;
}

.input_field {
    width: 364px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 5px;

    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: white;
}

.input_field:focus {
    outline: none;
    border-color: orange;
}

.input_label {
    width: 356px;
    height: 32px;
    margin-bottom: 5px;
    font-family: "Anton", cursive;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 100;
}

.error_label {
    color: red;
    height: 1rem;
    height: 12px;
    margin-top: 2px;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}