.message {
    width: 100%;
    height: calc(50% - 20px);
    display: flex;
    justify-content: center;
    font-family: "Anton", cursive;
    font-style: oblique;
    font-size: 2rem;
    font-weight: 100;
}

.header {
    width: 100%;
    height: calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Anton", cursive;
    font-style: oblique;
    font-size: 3rem;
    font-weight: 100;
    color: red;
    
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}